<div class="app">
  <div class="score-container">

  </div>
  <app-screen-component></app-screen-component>
  <div class="form-container" >
    <form>
      <div class="form-control">
        <label for="inpMS">Enter period (ms)</label>
        <input id="inpMS" type="number" (keyup)="onKey($event)" value="{{interval}}">
      </div>
    </form>

  </div>
  <button type="button" (click)="checkInterval()" [disabled]="this.gameController.isGameProceed">Start</button>
</div>

<app-popup-component *ngIf="this.gameController.isShowPopup"></app-popup-component>
<app-popup-check-component *ngIf="this.gameController.isShowPopupCheck"></app-popup-check-component>
